.panel {
    height: 100px;
    padding: 10px;
    background-color: #267DE5;
    border-radius: 15px 15px 0px 0px;
}

.buttons {
    /* float: left; */
    position: relative;
    height: 100%;
}

.buttons a{
    margin: 5px 20px 5px 0px;

    float: left;
    height: 80px;
    width: 14.285714286%;

    background-position: center;
    background-repeat: no-repeat;
    
    background-color: #69A8F4;
    border: 2px solid #84bbff;

	border-radius: 40%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.buttons a:active {
    top: 5px;
    border: 3px solid #267DE5;
}

.undo {
    background-image:url(./../imgs/undo.svg);

}

.new {
    background-image:url(./../imgs/new.svg);
}

.turn-button{
    float: right;
    
    margin: 10px;
    height: 60px;
    width: 60px;

    background-color: #69A8F4;
    border: 2px solid #84bbff;
	border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

